@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 252 27% 96%;
    --foreground: 222.2 84% 4.9%;

    --card: 252 27% 96%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 252 27% 96%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 251 33% 71%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 253 32% 61%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 1rem;
  }
 
  .dark {
    --background: 257 30% 12%;
    --foreground: 210 40% 98%;

    --card: 257 30% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 257 30% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 251 33% 71%;
    --primary-foreground: 210 40% 98%;

    --secondary: 253 32% 20%;
    --secondary-foreground: 210 40% 98%;

    --muted: 253 32% 20%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 253 32% 61%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 253 32% 25%;
    --input: 253 32% 25%;
    --ring: 253 32% 61%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .animated-gradient {
    background: linear-gradient(-45deg, #4c51bf, #6b21a8, #8575C3, #A096D3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .glass-card {
    @apply border border-white/20 rounded-[25px] shadow-lg;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }
}
